[Unit]
Description=Meteoreo Reporting Scheduler

[Service]
Type=simple
EnvironmentFile=/app/meteoreo/.env
ExecStart=/app/meteoreo --scan --frequency${FREQUENCY} --debug
Restart=on-success

[Install]
WantedBy=multi-user.target
